Package: ztoryc
Version: 1.6
Maintainer: Ztoryc
Section: graphics
Installed-Size: 
Homepage: https://github.com/matitanimata/ztoryc
Architecture: amd64
Priority: optional
Depends: gphoto2
Description: Ztoryc Version 1.6
 Ztoryc is a 2D and stop motion animation software.
 .
 It is a fork of OpenToonz which is based on Toonz Studio Ghibli Version, originally developed in Italy by Digital Video, Inc., and customized by Studio Ghibli over many years of production.
 .
 Ztoryc is mostly open source, but in order to support Canon cameras, we use the Canon proprietary SDK. Ztoryc can be built without the SDK, however.
